<div class="card w-50">
  <div class="card-body">
    <h5 class="card-title"><%= developer.name %></h5>
    <p class="card-text">
      <%= developer.title %>
      <div class='bg-light p-1 rounded'><%= developer.language_names %></div>
    </p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>