<% if @developers.any? %>
  <% @developers.each do |developer| %>
    <div class='pb-3'>
    <%# <div class='col-md-6 col-sm-12 py-2'> %>
      <%= render 'card_sm', developer: developer %>
    </div>
  <% end %>
<% else %>
  <div class='pt-5 fs-5 mt-5 mt-sm-0'>
    <%= t 'developers.index.search.no_results' %>...
  </div>
<% end %>
