<% content_for :head do %>
  <%= javascript_import_module_tag "custom/search" %>
<% end %>


<div class='row'>
  <div class='col-sm-3'>
    <%= render 'search' %>
  </div>
  <div class='col-sm-9'>
    <div class='row' id='results'>
      <%= render 'index' %>
    </div>
  </div>
</div>