
<div id='home'>

  <div class='px-md-5'>
    <%= render 'components/header' %>

    <%= render 'icons' %>
  </div>

  <h2>Nye udviklere</h2>


  <div class='row'>
    <% @developers.each do |developer| %>
      <div class='col-md-6 py-3'>
        <%= render 'developers/card_sm', developer: developer %>
      </div>
    <% end %>
  </div>

  <div class='text-center pt-4'>
    <%= link_to 'Se flere...', developers_path, class: 'btn btn-lg bg-white shadow-sm py-3 px-5 fs-3' %>
  </div>
</div>

